<p id="notice"><%= notice %></p>

<p>
  <strong>User token:</strong>
  <%= @profile.user_token %>
</p>

<p>
  <strong>Fb token:</strong>
  <%= @profile.fb_token %>
</p>

<p>
  <strong>Pic url:</strong>
  <%= @profile.pic_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @profile.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @profile.iban %>
</p>

<p>
  <strong>Reg num:</strong>
  <%= @profile.reg_num %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @profile.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @profile.password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @profile.salt %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @profile.updated_at %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
