<h1>Listing profiles</h1>

<table>
  <thead>
  <td><%=@jsonRespone %></td>
  <td><%=@user_token %></td>
    <tr>
      <th>User token</th>
      <th>Fb token</th>
      <th>Pic url</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Iban</th>
      <th>Reg num</th>
      <th>Birthday</th>
      <th>Company name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Salt</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @profile.user_token %></td>
        <td><%= @profile.fb_token %></td>
        <td><%= @profile.pic_url %></td>
        <td><%= @profile.name %></td>
        <td><%= @profile.surname %></td>
        <td><%= @profile.phone %></td>
        <td><%= @profile.iban %></td>
        <td><%= @profile.reg_num %></td>
        <td><%= @profile.birthday %></td>
        <td><%= @profile.company_name %></td>
        <td><%= @profile.email %></td>
        <td><%= @profile.password %></td>
        <td><%= @profile.salt %></td>
        <td><%= @profile.created_at %></td>
        <td><%= @profile.updated_at %></td>
      </tr>
  </tbody>
</table>

